:root{
    --primary-color: #eec190;
    --secondary-color: #2d7542;
    --accent1-color: #ffed86;
    --accent2-color: #154bff;
}
* {
    background-color: #eec190;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 10px 20px;
}
header nav{
    display: flex;
    justify-content: flex end;
    align-items: center;
    width: 90%;
    margin: 10px;
    border: #08330e 1px solid;
    background-color: var(--accent1-color);
    font-size: 25px;
} 
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    color: var(--secondary-color);
    font-size: 70px;
    top: 10%;
    right: 25%;
    text-align: center;
}
article{
    position: absolute;
    top: 250px;
    left: 100px;
    color: var(--secondary-color);
    width: 80%;
    font-size: 30px;
}
.hero article img{
    float: right;
    width: 200px;
    margin-left: 10px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    padding: 20px;
}
h2{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent2-color);
    font-size: 50px;
    top: 200px;

}
p1{
    grid-column:1/2;
    color: var(--secondary-color);
}
p2{
    grid-column:3/4;
    color: var(--secondary-color);
}
h2{
    top: 200px;
    display: flex;
    justify-content: center;
    color: var(--accent2-color);
    font-size: 50px;
}
figure{
    display: flex;
    flex-direction: row;

    margin: 20px;
    padding: 10px;
}
figure img{
    width: 200px;
    height: 200px;
    margin: 10px;
}
figcaption{
    position: fixed;
    font-size: 10px;
    text-align: center;
}
footer{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}
footer a{
    text-decoration: none;
}