:root{
    --primary-color: #eec190;
    --secondary-color: #2d7542;
    --accent1-color: #ffed86;
    --accent2-color: #154bff;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 10px 20px;
}
/*header nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    margin: 10px 0px 0px;
    border: #08330e 2px solid;
    background-color: var(--accent1-color);
} */
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    color: var(--accent1-color);
    font-size: 70px;
    top: 10%;
    right: 25%;
    text-align: center;
}
article{
    background-color: white;
    position: absolute;
    top: 200px;
    left: 100px;
    color: var(--accent1-color);
    padding: 10px;
    width: 80%;
}
.hero article img{
    float: right;
    width: 50px;
    margin-left: 10px;
}
p{
    color: var(--secondary-color);
}
footer a{
    text-decoration: none;
}